.con{
    display: flex;
    justify-content: center;
    padding-bottom:30px;
}
.btn_all{
    float: left;
    width: 50px;
    height: 32px;
    border: 1px solid gainsboro;
    background-color: #000;
    border-radius: 30px; /*둥글게*/
    font-size:13px;
    text-align: center;
    transition: background 0.5s ease-in-out;
    .b_all{
        color:#fff;
        font-weight: bold;
        margin: 6px auto;
        
    }
}
.btn_all:hover{
    background:#fff;
    .b_all{color:black;}
    cursor: pointer;

}

.btn_black{
    float: left;
    margin-left:2%;
    width: 80px;
    height: 32px;
    background-color: #000;
    border: 1px solid gainsboro;
    border-radius: 30px; /*둥글게*/
    font-size:13px;
    text-align: center;
    transition: background 0.5s ease-in-out;
    
    .b_black{
        color:#fff;
        font-weight: bold;
        margin: 6px auto;
        
    }
}
.btn_black:hover{
    background:#fff;
    .b_black{color:black;}
    cursor: pointer;
}

    
    

.btn_gray{
    float: left;
    margin-left:2%;
    width: 60px;
    height: 32px;
    background-color: #000;
    border: 1px solid gainsboro;
    border-radius: 30px; /*둥글게*/
    font-size:13px;
    text-align: center;
    transition: background 0.5s ease-in-out;

    .b_gray{
        color:#fff;
        font-weight: bold;
        margin: 6px auto;
    }
}
.btn_gray:hover{
    background:#fff;
    .b_gray{color:black;}
    cursor: pointer;
}
.btn_brown{
    float: left;
    margin-left:2%;
    width: 80px;
    height: 32px;
    background-color: #000;
    border: 1px solid gainsboro;
    border-radius: 30px; /*둥글게*/
    font-size:13px;
    text-align: center;
    transition: background 0.5s ease-in-out;
    
    .b_brown{
        color:#fff;
        font-weight: bold;
        margin: 6px auto;
    }
}
.btn_brown:hover{
    background:#fff;
    .b_brown{color:black;}
    cursor: pointer;
}
.btn_blue{
    float: left;
    margin-left:2%;
    width: 60px;
    height: 32px;
    border: 1px solid gainsboro;
    background-color: #000;
    border-radius: 30px; /*둥글게*/
    font-size:13px;
    text-align: center;
    transition: background 0.5s ease-in-out;

    .b_blue{
        color:#fff;
        font-weight: bold;
        margin: 6px auto;
    }
}
.btn_blue:hover{
    background:#fff;
    .b_blue{color:black;}
    cursor: pointer;
}
.underline{
    width: 40%;
    background: #000;
    height: 4px;
    margin-bottom: 30px;
    
    
}
.title_fx{
        font-size: 32px;
        font-weight: bold;
        text-align: center;
        margin: a auto;
    }

.a1,.a2,.a3,.a4,.a5,.a6,.a7,.a8,.a9,.a10 {
    position: relative;
    overflow: hidden;
    width: 600px;
    height: 200px;
    border-radius: 10px; /*둥글게*/
    background-color: #fff;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    outline: 1px ridge rgba(222, 222, 222, 0.6);
    transition: all 0.5s ease-in-out;
    
}

.a1:hover{transform: translateY(-10px);}
.a2:hover{transform: translateY(-10px);}
.a3:hover{transform: translateY(-10px);}
.a4:hover{transform: translateY(-10px);}
.a5:hover{transform: translateY(-10px);}
.a6:hover{transform: translateY(-10px);}
.a7:hover{transform: translateY(-10px);}
.a8:hover{transform: translateY(-10px);}
.a9:hover{transform: translateY(-10px);}
.a10:hover{transform: translateY(-10px);}

img {
    float: left;
    width: 200px;
    height:200px;
    overflow: hidden;
    object-fit:cover;
    
}
#b1,#b2,#b3,#b4,#b5,#b6,#b7,#b8,#b9,#b10 {
    float: left;
    font-weight: 900;
    font-size: 25px;
    margin: 15px;
}
#n1,#n2,#n3,#n4,#n5,#n6,#n7,#n8,#n9,#n10 {
    position: absolute;
    top:80%;
    transform:translate(0,-35%);
    margin-left: 215px;
}
#s1,#s2,#s3,#s4,#s5,#s6,#s7,#s8,#s9,#s10 {
    position: absolute;
    top:35%;
    transform:translate(0,-35%);
    margin-left: 215px;
}

.a11 {
    display: grid;
    position:sticky;
    justify-content: center;
    grid-template-columns: repeat(2, 40%);
    grid-auto-rows: 215px;
    grid-gap: 15px;  
    
}